
/* Grid Area Declaration

.playlist-box {
    grid-area: headerMain;
}
.info-box {
    grid-area: headerSide;
}
.description-box {
    grid-area: mainTopLeft;
}
.songs-box {
    grid-area: mainCenter;
}
.pattern-box {
    grid-area: mainBottomLeft;
}
.about-project-box {
    grid-area: footerLeft;
}
.about-designer-box {
    grid-area: footerMiddle;
}
.button-box {
    grid-area: footerRight;
}

.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 350px 350px auto 350px;
    grid-template-areas: "headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerSide headerSide"
                         "mainTopLeft mainTopLeft mainTopLeft mainCenter mainCenter mainCenter mainCenter . ."
                         "mainBottomLeft mainBottomLeft mainBottomLeft mainCenter mainCenter mainCenter . ."
                         "footerLeft footerLeft footerLeft footerMiddle footerMiddle footerMiddle footerRight footerRight footerRight"
}
*/

/* Font Family */

@font-face {
    font-family: 'HK Grotesk Pro Regular';
    src: url("../fonts/HK_Grotesk_Pro/HKGroteskPro-Regular.woff2") format("woff2"),
    url("../fonts/HK_Grotesk_Pro/HKGroteskPro-Regular.woff") format("woff"),
    url("../fonts/HK_Grotesk_Pro/HKGroteskPro-Regular.eot") format("eot"),
    url("../fonts/HK_Grotesk_Pro/HKGroteskPro-Regular.ttf") format("ttf");
    font-weight: regular;
}
@font-face {
    font-family: 'HK Grotesk Pro Bold';
    src: url("../fonts/HK_Grotesk_Pro/HKGroteskPro-Bold.woff2") format("woff2"),
    url("../fonts/HK_Grotesk_Pro/HKGroteskPro-Bold.woff") format("woff"),
    url("../fonts/HK_Grotesk_Pro/HKGroteskPro-Bold.eot") format("eot"),
    url("../fonts/HK_Grotesk_Pro/HKGroteskPro-Bold.ttf") format("ttf");
    font-weight: regular;
}

/* Area Styling */

.border-box {
    box-sizing: border-box;
}

.playlist-box {
    border: 4px solid black;
    height: 200px;
}
.info-box {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    height: 200px;
}
.description-box {
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    height: 200px;
}
.songs-box {
    border-right: 4px solid black;
    height: 404px;
}
.pattern-box {
    border-left: 4px solid black;
    border-right: 4px solid black;
    height: 200px;
    background: url(/assets/imgs/pattern.png) repeat;
    background-size: 30px;
}
.about-project-box {
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    height: 200px;
}
.about-designer-box {
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    height: 200px;
}
.button-box {
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    height: 200px;
    background: url(/assets/imgs/pattern.png) repeat;
    background-size: 30px;
}

/* Container Declaration */

.container {
    max-width: 1200px;
    margin: 20px auto;
}

/* Clearfix */

.clearfix:before,
.clearfix:after{
  content:" ";
  display:table
}
.clearfix:after{ clear:both }

/* Column Declaration */

.col{
  float:left;
  box-sizing:border-box;
}

.col-right{
  float:right;
  box-sizing:border-box;
}

.col-1{
  width:8.33333%;
}

.col-2{
  width:16.66667%;
}

.col-3{
  width:25%;
}

.col-4{
  width:33.33333%;
}

.col-5{
  width:41.66667%;
}

.col-6{
  width:50%;
}

.col-7{
  width:58.33333%;
}

.col-8{
  width:66.66667%;
}

.col-9{
  width:75%;
}

.col-10{
  width:83.33333%;
}

.col-11{
  width:91.66667%;
}

.col-12{
  width:100%;
}
@media (max-width: 767px){

  .sm-col{
    float:left;
    box-sizing:border-box;
  }

  .sm-col-right{
    float:right;
    box-sizing:border-box;
  }

  .sm-col-1{
    width:8.33333%;
  }

  .sm-col-2{
    width:16.66667%;
  }

  .sm-col-3{
    width:25%;
  }

  .sm-col-4{
    width:33.33333%;
  }

  .sm-col-5{
    width:41.66667%;
  }

  .sm-col-6{
    width:50%;
  }

  .sm-col-7{
    width:58.33333%;
  }

  .sm-col-8{
    width:66.66667%;
  }

  .sm-col-9{
    width:75%;
  }

  .sm-col-10{
    width:83.33333%;
  }

  .sm-col-11{
    width:91.66667%;
  }

  .sm-col-12{
    width:100%;
  }

}
@media (min-width: 768px){

  .md-col{
    float:left;
    box-sizing:border-box;
  }

  .md-col-right{
    float:right;
    box-sizing:border-box;
  }

  .md-col-1{
    width:8.33333%;
  }

  .md-col-2{
    width:16.66667%;
  }

  .md-col-3{
    width:25%;
  }

  .md-col-4{
    width:33.33333%;
  }

  .md-col-5{
    width:41.66667%;
  }

  .md-col-6{
    width:50%;
  }

  .md-col-7{
    width:58.33333%;
  }

  .md-col-8{
    width:66.66667%;
  }

  .md-col-9{
    width:75%;
  }

  .md-col-10{
    width:83.33333%;
  }

  .md-col-11{
    width:91.66667%;
  }

  .md-col-12{
    width:100%;
  }

}
.inner-pattern {
    background: url(../assets/assets/imgs/pattern.png) repeat;
    background-size: 30px;
}